@import url("variables.css");
@import url("buttons.css");
@import url("cards.css");

/* memo breakpoints di bootstrap
xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px,
xxl: 1400px */


body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar_container {
    ov
}

.black_bar {
    height: 30px;
}



.section:not(.full_height) {
    padding: 2rem 0rem;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


.width_box {
    width: 250px;
}

.banner-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: 100%;
}

.jumbotron_image {
    background-image: url("file:///C:/Users/anxhe/OneDrive/Documenti/Boolean/Lezioni/htmlcss-playstation/img/jumbo-bg.png");
    background-position: center;
    /* object-fit: cover;
    object-position: top; */
}

.jumbotron_text {
    padding-top: 22rem;
    padding-bottom: 2rem;
}

.takes_two_banner {
    background-image: url("file:///C:/Users/anxhe/OneDrive/Documenti/Boolean/Lezioni/htmlcss-playstation/img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-size: cover;
}

.border_bottom {
    border-bottom: 2px solid transparent;
}

.border_bottom:hover {
    border-color: var(--bs-primary);
}

.hover_opacity {
    opacity: 50%;
}

.hover_opacity:hover {
    opacity: 100%;
}

.hover_opacity:active {
    opacity: 100%;
    border-radius: 20px;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 50%)
}




.social_box {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 1rem;
}

.social_icon {
    width: 200px;
    height: 200px;
}

.social_icon:hover {
    transform: scale(1.1);
}




footer a {
    color: white;
}

footer a:hover  {
    color: white;
    text-decoration: underline;
}

.language_img {
    width: 20px;
}

footer .logo {
    width: 100px;
    height: 100px;
    fill: white;
}

.footer_sony_logo {
    width: 150px;
}







@media screen and (min-width: 576px) {
    .social_icon {
        width: 80px;
        height: 80px;
    }
}
