@import url("variables.css");
@import url("buttons.css");
@import url("cards.css");

/* memo breakpoints di bootstrap
xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px,
xxl: 1400px */

/* DEBUG ONLY */
.debug_card {
    background-color: bisque;
    padding: 1rem 0rem;
}
/* DEBUG ONLY */


body {
    font-family: Arial, Helvetica, sans-serif;
}

.section:not(.full_height) {
    padding: 2rem 0rem;
}

.social_box {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 1rem;
}

.social_icon {
    width: 200px;
    height: 200px;
}

.width_box {
    width: 250px;
}

.banner-img {
    position: absolute;
    top: 0;
    right: -30;
    bottom: 0;
    width: auto;
    height: 100%;
}











.black_bar {
    height: 30px;
}

.sony_logo {
    height: 100%;
}



@media screen and (min-width: 576px) {
    .social_icon {
        width: 80px;
        height: 80px;
    }
}

@media screen and (min-width: 992px) {
    .banner-img {
        right: 0;
    }
}