:root {
    /* colori in bootstrap ok per layout
    --bs-primary: #0d6efd;
    --bs-primary-rgb: 13,110,253;

    --bs-danger: #dc3545;
    --bs-danger-rgb: 220,53,69;

    --bs-dark: #212529;
    --bs-dark-rgb: 33,37,41;
    */
    --color-darkgrey: #333333;
    --color-grey: #BEBCBB;
    --color-darkblue: #161C3B;
    --color-black: black; 

}


.my_color_darkgrey {
    background-color: var(--color-darkgrey);
}

.my_color_grey {
    background-color: var(--color-grey);
}

.my_color_darkblue {
    background-color: var(--color-darkblue);
}

.my_color_black {
    background-color: var(--color-black);
}